/* Styling the area of the slides */
     
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 768px;
    margin: 0 auto;
}
 
/* Style each of the sides
with a fixed width and height */
 
.slide {
    float: left;
    height: 510px;
    width: 768px;
}
 .slide h1{text-shadow: 1px 1px 1px #000;}
/* Add animation to the slides */
 
.slide-wrapper {
     
    /* Calculate the total width on the
  basis of number of slides */
    width: calc(768px * 4);
     
    /* Specify the animation with the
  duration and speed */
    animation: slide 25s ease infinite;
}
 
/* Set the background color
of each of the slides */
 
.slide:nth-child(1) {
    background: url(slider/1.png);
}
 
.slide:nth-child(2) {
    background: url(slider/image3.png);
}

 
/* Define the animation
for the slideshow */
 
@keyframes slide {
     
    /* Calculate the margin-left for
  each of the slides */
    30% {
        margin-left: 0px;
    }
    60% {
        margin-left: calc(-768px * 1);
    }
}